.wrapper{
    width: 350px;
    height: 450px;
    background-color: coral;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: fixed;
    border-radius: 4px;
    box-shadow: 0px 0px 7px 3px #000000;

}

.toDoListHeader{
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding: 10px;
    font-family: 'Indie Flower', cursive;
}

.inputDiv{
    display: flex;
    justify-content: space-evenly;
}

.inputList{
    font-size: 20px;
    border-radius: 5px;
}

.addButton{
    font-size: 20px;
    border-radius: 5px;
    color: black;
}

.listElement{
    padding: 12px 16px 12px 16px;
    font-size: 20px;
}

.close{

}

.close:hover{
    cursor: pointer;
    color: red;
}